body {
    font-family: 'poppins';
    height: 90vh;
    background-color: rgba(128, 128, 128, 0.527);
}

#gamecontainer {
    display: table;
    height: inherit;
    width: 60em;
    margin: auto;
}

.cookiebox {
    
    padding: 2em;
    margin-top: 15em;
    margin-right: 0px;
    width: 25%;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.445);
}

#shop {
    margin-top: -30em;
    float: right;
    padding: 2em;
    height: 65vh;
    width: 35%;
    min-width: fit-content;
    position: relative;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    text-align: center;
    overflow-y: scroll;
}

#units {
    float: left;
    width: 50%;
    font-size: .8em;
}

.cookie {
    cursor: pointer;
    width: 64px;
}

.cookiebox img {
    position: relative;
    transition: all .1s ease-in-out;
    border-radius: 60%;
    box-shadow: 0px 0px 10px black;
}

.cookiebox img:hover {
    transform: scale(1.10);
}

.cookiebox img:active {
    transform: scale(0.95);
}

#upgrades {
    margin-top: 6px;
    margin-left: 50%;
    width: 45%;
    text-align: center;
    font-size: .8em;
}

#upgrades button {
    margin-top: 60px;
}

header {
    text-align: center;
}